# dependencies
/client/node_modules
/server/node_modules

# build
/server/build
# Env variables
/server/nodemon.json
#vscode
/server/.vscode
#uploads
/server/uploads
#keys
/server/cert.pem
/server/keytmp.pem
/server/key.pem
