# client build
/client/build
/client/.next
/client/next-config.js

# dependencies
/client/node_modules
/server/node_modules

# build
/server/build
/server/.gitignore
# Env variables
/server/nodemon.json
#vscode
/server/.vscode
#uploads
/server/uploads
#keys
/server/cert.pem
/server/keytmp.pem
/server/key.pem
